<div style="margin:5px;padding:5px;background:white; border-bottom:2px solid #eee">
  <div style="float:<%=tr8n_current_language.align(:right)%>">
    <%=link_to_function(image_tag("tr8n/close.gif", :style => "border:0px; padding:5px;", :alt=>trla("Close")), "tr8nLightbox.hide()") %>
  </div>
