<div style="font-size: 11px; color: grey; margin-top:5px; margin-bottom:5px; padding:5px; background:#f7f7f7; border-top:1px solid #eee">
  <span dir="ltr">
   <%=link_to(topic.topic, :controller => "/tr8n/forum", :action => :topic, :locale => topic.language.locale, :topic_id => topic.id, :last_page => true) %>
  </span>
</div>
