<div style="margin-top:10px; padding:5px;font-size:12px; max-height:50px; overflow:auto;">
  <%=image_tag("tr8n/left_quote.png", :style=>"text-align:bottom;padding-bottom:5px;") %>
  <%=notification.object.toHTML %>
  <%=image_tag("tr8n/right_quote.png", :style=>"text-align:bottom;padding-top:5px;") %>
</div>

<div>
  <%= render(:partial => "/tr8n/translator/notifications/phrase", :locals => {
                          :translation_key => notification.object.translation_key, 
                          :language => notification.object.language
                        }) %>
</div>