<%= render :partial => "/tr8n/admin/common/header" %>
<%= render :partial => "tabs" %>

<script language="JavaScript" src="/tr8n/javascripts/FusionCharts.js"></script>

<table style="width:100%; border:0px; border-bottom:1px solid #ccc;">
	<tr>
		<td>
      <div id="users_by_language" align="center"></div>
		</td>
		<td>
      <div id="translators_by_language" align="center"></div>			
		</td>
	</tr>
	<tr >
		<td>
			<div id="translations_by_language" align="center"></div>
		</td>
		<td>
			<div id="locked_keys_by_language" align="center"></div>
		</td>
	</tr>
</table>

<script type="text/javascript">
	 function createChart(chartId, type, url) {
	    var chart = new FusionCharts("/tr8n/charts/FCF_" + type + ".swf", chartId, "450", "500");
	    chart.setDataURL(url);
	    chart.render(chartId);
	 }

	 createChart("users_by_language", "Pie3D", "/tr8n/admin/chart/users_by_language");
   createChart("translators_by_language", "Pie3D", "/tr8n/admin/chart/translators_by_language");
   createChart("translations_by_language", "Pie3D", "/tr8n/admin/chart/translations_by_language");
   createChart("locked_keys_by_language", "Pie3D", "/tr8n/admin/chart/locked_keys_by_language");
</script>
