.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
db/schema.rb*
tmp/*
log/*
.DS_Store
*.swp
.project
.loadpath
*~
.dotest*
Thumbs.db
.tmp*
local/tr8n_server/tmp/*
local/tr8n_server/.sass-cache/*