.bundle/
pkg/
*.sqlite3
*.log
db/schema.rb*
tmp/*
log/*
.DS_Store
*.swp
.project
.loadpath
*~
.dotest*
Thumbs.db
.tmp*
local/tr8n_server/db/*.sqlite3
local/tr8n_server/log/*.log
local/tr8n_server/tmp/
local/tr8n_server/.sass-cache/