.bundle/
pkg/
*.sqlite3
*.log
db/schema.rb*
tmp/*
log/*
.DS_Store
*.swp
.project
.loadpath
*~
.dotest*
Thumbs.db
.tmp*
tmp/
sample/tr8n_server/db/*.sqlite3
sample/tr8n_server/db/test.sqlite3
sample/tr8n_server/log/*.log
sample/tr8n_server/tmp/
sample/tr8n_server/.sass-cache/
