<style>
  #navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
</style>

<footer>
  <div class="container">
<!--       <ul id="navlist" style="float:right;">
        <li><%=link_to(tr("Home"), "/home", :class => "quiet")%></li>
        <li><%=link_to(tr("Extensions"), "/extensions", :class => "quiet")%></li>
      </ul>
 -->
      &copy; Tr8nHub 2013
  </div>
</footer>

<p><%= tr8n_language_strip_tag %></p>
