<div style="padding:10px; padding-bottom:0px;">
  
  <div class="section" style="text-align:center;font-size:18px;padding:20px;">
    <%=trla("Thank you!") %>
  </div>

</div>

<script>
  Tr8n.Utils.addEvent(window, "load", function(event) {
    window.setTimeout(function() {
      hideTranslator();
      reloadOrigin();
    }, 500);
  });
</script>
