<div id="tr8n_results" style="display:none">
	<div id="tr8n_translator_status">Completed</div>
	<div id="tr8n_translation_key"><%=@translation_key.key%></div>
	<div id="tr8n_translation"><%=@translation.label%></div>
</div>	

Done!