<% if @section_key %>
  <div class="tr8n_txtl" style="padding-top:0px;padding-bottom:15px;font-size:12px; margin-bottom: 0px;">
      <%=link_to(tra("Site Map"), :action => :map)%> 
			<% @section.parents[1..-1].each do |section| %>
        >> <%=link_to(tra(section.label, section.description), :action => :index, :section_key => section.key) %>
			<% end %>	
      <% if @translation_key %>
      >> <%=link_to(@translation_key.label, :action => :view, :translation_key_id => @translation_key.id, :section_key => @section.key) %>
      <% end %>
  </div>
<% end %>
