<%= render :partial => "/tr8n/common/header" %>


<div class="section_title">
  <%=tr8n_current_translator.name%>
</div>

<div class="section_box colored">
  Your rank: <%=tr8n_translator_rank_tag(tr8n_current_translator)%>
	<br>
	Total number of translations: 
	<br>
	Total number of votes:
	<br>
	Place in the list of awards:
</div>

<% tr8n_current_translator.languages.each do |lang| %>
	<% next if lang.default? %>
	<div class="section_title">
    <%=image_tag("/tr8n/images/flags/#{lang.flag}.png", :title=>trl("#{lang.english_name} flag"))%>&nbsp;
    <%=lang.english_name%> 
	</div>
	
	<div class="section_box">
    <%=image_tag("/tr8n/images/flags/#{lang.flag}.png", :title=>trl("#{lang.english_name} flag"))%>&nbsp;
		<%=lang.english_name%> 
	</div>
<% end %>


For translators

global stats and ranks
* number of translations, votes you have submitted
* view you translator rank (place among other translators)

per langauge in your languages list
* language completion overall
* view you translator rank (place among other translators)
* list new topics in the discussions
* most recent translation votes (top 50) (with filters for getting votes on your translations)


For managers

* everything above 

* order language block by management right - manager first
* extra for every language
* view translator rank for the language (top 10)
* view translation violations
* shortcut links to any tabs 
* most recently active translator 


ideas:
subscribe for weekly emails about language status and stats

