<div class="section_box">
  <div style="margin-bottom:5px; padding-bottom:2px; border-bottom:1px solid #ccc; ">
    <%= render :partial => "/tr8n/common/paginator", :locals => {:objects => @messages, :subject => 'message'} %>
  </div>

  <table style="width:100%; ">
    <% @messages.each do |message| %>
      <%
        style = (message == @messages.last ? "" : "border-bottom:1px dotted #ccc;" )
      %>  
      <tr style="<%=style%>">
      	<%= render :partial => "message", :locals => {:message => message} %> 
      </tr>
    <% end %>
  </table>
</div>
