<div class="section_box">
  <div style="margin-bottom:5px; padding-bottom:2px; border-bottom:1px solid #ccc; ">
    <table style="width:100%;">
      <tr>
        <td align='left'><%= page_entries_info(@messages, {:entry_name => "message", :skip_decorations => true, :params => params.merge(:last_page => nil)}) %></td>
        <td align='right'><%= will_paginate(@messages, :style => tr8n_float_style_tag(:right), :skip_decorations => true, :params => params.merge(:last_page => nil)) %></td>
      </tr>
    </table>
  </div>

  <table style="width:100%; ">
    <% @messages.each do |message| %>
      <%
        style = (message == @messages.last ? "" : "border-bottom:1px dotted #ccc;" )
      %>  
      <tr style="<%=style%>">
      	<%= render :partial => "message", :locals => {:message => message} %> 
      </tr>
    <% end %>
  </table>
</div>
