<!DOCTYPE html>
<html>
<head>
  <title>Tr8n</title>
  <%= stylesheet_link_tag    "tr8n/application" %>
  <%= javascript_include_tag "tr8n/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
