<%
  links = []
  current_tab ||= ""
  [["Domains", {:action => :index}],
   ["Sources", {:action => :sources}],
   ["Key Sources", {:action => :key_sources}]
  ].each do |link|
      if controller.action_name == link.last[:action].to_s
        current_tab = link.first if current_tab.blank?
        links << link.first
      else
        links << link_to(link.first, link.last)
      end 
	 end   
%>

<div class="section_title">
	<span style="font-size:12px; float:right; padding-top:5px;">
	  <%=links.join(" | ")%>
	</span>
  <%=current_tab %>
</div>

