<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Advanced Tools") %>
</div>

<div class="documentation_section">
  <p>
    <%= tr("Click Translation Tools from the Language Selector to access the complete suite of translation tools, including bulk translation tools, awards, and discussions.") %>  
  </p>
</div>

<%= render :partial => "footer" %>
