<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Awards") %>
</div>

<div class="documentation_section">
	<p>
    The Leaders Score Board for each language lists the users with the best translations. You can rise in the rankings by adding translations that other users vote up. Click the Awards for All Languages link to see how you stack up against Geni users translating other languages!      
  </p>
</div>

<%= render :partial => "footer" %>
