<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Translations that have a high enough rank are considered accepted. The accepted translation with the highest rank replaces the English phrase for that language.
  </p>
  <p>
    When a phrase is correctly translated, it can be locked by a language manager. Locked phrases are removed from the list of translatable phrases. Users can no longer be able to submit new translations for the phrase or vote on existing translations. The currently accepted translation with the most votes is the translation used until the phrase is unlocked again.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
