<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Each language has its own discussion forum for translators to discuss topics relevant to that language. This is a great way to communicate with other Geni users working on the same language. You can ask questions, post comments, or seek advice from others translating the same language. Switch to your language to English for discussions that aren't language specific, such as general questions about the translation tools or language management.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
