<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Enter your translation for this phrase. Click the keyboard icon to enter your translation in other character sets such as Hebrew or Cyrillic. Click the Translate button after you enter your translation to save it.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
