<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Use this to specify which language will be used for phrases that have not been translated into this language. For example, the fallback language for French (Canadian) could be French. When a user viewing the French (Canadian) translation views a phrase that has not been translated into French (Canadian), they will see the French translation for that phrase. Languages that don't have a fallback specified will fallback to English, so if there isn't a French (Canadian) or French translation, the user would see the original English version.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
