<%= render :partial => "/tr8n/help/navigation" %>
<% @page_title = "Introduction" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Thank you for becoming a <%= Tr8n::Config.site_title %> translator. We're happy to provide you with a set of translation tools that will enable you to quickly create translations, view and vote on others' translations, and to monitor the progress of each language you are translating.
  </p>
  
  <p>
    To learn more, use the menu to the left of each page.
  </p>
  
</div>

<%= render :partial => "/tr8n/common/footer" %>