<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    The language selector is your primary interface for the translation engine. You can change your current language, enable inline translations, and access additional tools for translators and language managers. Click on you current language at the top right corner of any page to access the language selector window.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
