<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    After your dashboard, you'll have a dashboard for each of the languages you are translating. Most users will only have one language other than English, and so will only have one language module.
  </p>

  <p>
    On the same line as the language name you'll see a set of links. Select will switch you to that language. Remove will remove the language from your languages list and your dashboard. The rest of the links take you to the various translation and management tools for that language.
  </p>

  <p>
    Next you'll see how many phrases have not been translated yet for that language. Click the link to view a list of these phrases and translate them.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
