<div style="margin-bottom:25px;">
  <%=image_tag("/tr8n/images/tr8n_logo2.gif")%>
</div>

<div class="buttons_container" style="text-align:center;">
    <button type="submit" class="translator_btn translator_submit_btn" onClick="tr8nLightbox.hide(); return false;">
        <span><%=trl("Close", "Lightbox close button")%></span>
    </button>
</div>
