<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Enter the name of the language in the native language. This will appear after the English name for the language in the <%= tr8n_help_link("Language Selector") %>.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
