<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    These are other parts of Geni that need to be translated and aren't directly accessible, such as emails. Click on the name of a section to view and translate phrases.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
