<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    The second way you can translate the site is by going to the Translations application and translating all the phrases of the site in a bulk mode.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
