<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Use the Phrases tab to translate all the phrases of the site on a single page. The Phrases tab lists all translatable phrases and the top translations for each phrase. Use the edit icon on the far right of each phrase to add or edit a translation.
  </p>
  <p>
    You can search for a specific English phrase, or use the filters to find specific types of phrases, such as all phrases without translations, or all phrases with approved translations.
  </p>
  <p>
    Click on the name of a phrase to view all translations for that phrase. When viewing the list of translations for a specific phrase, use the Lock This Phrase link to remove the phrase from the list of translatable phrases. Users will no longer be able to submit new translations for the phrase or vote on existing translations. The currently accepted translation with the most votes will be the translation used until the phrase is unlocked again. Only language managers can lock a phrase.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
