<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Phrases that have not been translated are underlined in red. Right-click on a phrase to add a translation.
  </p>

  <%= image_tag("/tr8n/images/help/translator.png") %>

</div>

<%= render :partial => "/tr8n/common/footer" %>
