<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Lists the last five posts to the discussion forum for the language. Click view to see the whole thread and reply to the discussion.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
