<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Recent translations lists the five most recently added translations for the language. You can vote on the translations or view all for a longer list of recent translations.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
