<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Recent translation votes lists the five translations that were voted on most recently for the language. You can add your own vote or view all for a longer list of translations with recent votes.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
