<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Site Map") %>
</div>

<div class="documentation_section">
	<p>
    The site map provides convenient access to all translatable phrases on Geni. This is also where you can translate phrases that can't be translated inline, such as phrases that appear in emails.   
  </p>
	
	<p>Click on a name to view and translate all phrases from that page or section of the site. </p>

	<h2>Site Sections</h2>
	<p>
		A list of every page on Geni with a link to quickly jump to a particular section. Use the green arrows to open that page in a new window so you can view the phrases in context as you translate them.
	</p>
	
	<h2>Other Translatable Resources</h2>
	<p>These are other parts of Geni that need to be translated and aren't directly accessible, such as emails. Click on the name of a section to view and translate phrases. </p>
	
</div>

<%= render :partial => "footer" %>
