<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    A list of every page on Geni with a link to quickly jump to a particular section. Use the green arrows to open that page in a new window so you can view the phrases in context as you translate them.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
