<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    The site map provides convenient access to all translatable phrases on Geni. This is also where you can translate phrases that can't be translated inline, such as phrases that appear in emails.
  </p>
  
  <p>
    Click on a name to view and translate all phrases from that page or section of the site.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
