<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Displays the translation suggested by Google when you are translating a language they support. Click on their suggestion if you like it to insert it into the translation window. You can then save the translation or further edit it.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
