<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    When you add a translation we automatically give it an up vote from you, so it will start with a rank of +1. If you decide later that it is not a good translation, you can change your vote on your own translation to a down vote. The first section focuses on you and your overall activity. Your overall rank is based on the percentage of your translations in all languages that have received positive votes. There are three states for each translation you've provided: accepted, pending, and rejected. Accepted means that its rank has meet the necessary threshold to be accepted. Pending means that the translation has not been accepted or rejected. Rejected translations have been voted down by users or reported.
  </p>
  
  <p>
    Note that only the translation with the highest overall rank for that phrase will be used. This means that you can have a translation accepted but not used on the site.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
