<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Click Translation Tools to access the complete suite of advanced translation tools, including bulk translation tools, awards, and discussions.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
