<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Tokens are parts of the phrase that are not translated, such as a profile name. Click on a token to add it to your translation. When a user is viewing the phrase, the tokens will automatically be replaced by Geni.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
