<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Multiple translations can be submitted for a single phrase. The Translations tab lists all translations submitted for all phrases in your language. Use search and filters to find translations and vote on them. Click on the original phrase to view all translations for that phrase.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
