<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Voting on Translations") %>
</div>

<div class="documentation_section">
	<p>
    Vote on existing translations to help decide which translation will be used for the phrase. Translations with enough up votes will be accepted. The accepted translation with the most votes will be used. If you see an incorrect translation for a phrase you can vote it down to make sure it doesn't get used. 
  </p>
</div>

<%= render :partial => "footer" %>
