<%= render :partial => "/tr8n/help/navigation" %>

<div id="tr8n_help_content">
  
  <h1><%= @page_title %></h1>

  <p>
    Your translations shows you the status of each translation you've provided for this language. There are three states for each translation you've provided: accepted, pending, and rejected. Accepted means that its rank has meet the necessary threshold to be accepted. Pending means that the translation has not been accepted or rejected. Rejected translations have been voted down by users or reported.
  </p>
  
  <p>
    Note that only the translation with the highest overall rank for that phrase will be used. This means that you can have a translation accepted but not used on the site.
  </p>

</div>

<%= render :partial => "/tr8n/common/footer" %>
