<%= render :partial => "/tr8n/common/lightbox_header" %>
<% Tr8n::Config.with_options(:default_locale => 'en-US', :admin => true) do %>
<div class="inner">
    <div style="text-align:center;padding-top:30px;">
        <% if tr8n_current_translator.inline_mode %>
            <%=trla("Inline translations have been enabled.") %>
        <% else %>
            <%=trla("Inline translations have been disabled.") %>
        <% end %>            
    </div>
</div>
<% end %>
<%= render :partial => "/tr8n/common/lightbox_footer" %>

<script>
  Tr8n.Utils.addEvent(window, "load", function(event) {
    window.setTimeout(function() {
      reloadOrigin();
    }, 500);
  });
</script>
