/* General */

  .flt_r                                {float:right}
  .quiet                                {color:#888 !important;}
  .strong                               {font-weight:bold}
  .em                                   {font-style:italic}
  .small                                {font-size:11px}
  .xsmall                               {font-size:10px}
  .sub_heading                          {border-bottom:solid 1px #ddd;margin-bottom:3px;}
  .notice_msg                           {color:darkorange;background:#feffef;padding:3px 5px;margin:0 0 3px 0}
  .warning_msg                          {color:darkred;background:pink;padding:3px 5px;margin:0 0 3px 0}
  .focus                                {background-color:#f1f5ff}
  .highlight                            {background-color:#fefff1}
  .highlight_hover:hover                {background:#fefff1}
  .nowrap                               {white-space:nowrap}
  .underscore {border-bottom:solid 1px #eee}

  .light_bevel_hr                       {height:0px;border:solid 1px #e1e5e8;border-bottom-color:#fff;}

  .padding_0                            {padding:0px !important;}
  .padding_5                            {padding:5px !important;}
  .padding_10                           {padding:10px !important;}
  .padding_15                           {padding:15px !important;}

/* Module Skins */

  .basic .inner                         {padding:10px;}

  .outset .inner                        {border:1px solid #D7D7D7;border-color:#e9e9e9 #cdcdcd #a4a4a4;border-width:1px 1px 2px;padding:10px;}
  .outset b                             {background-image:url('rounded_corners_sprite.gif');}
  .outset .tl                           {background-position: 0 -70px;}
  .outset .tr                           {background-position: -10px -70px;}
  .outset .bl                           {background-position: 0 -80px;}
  .outset .br                           {background-position: -10px -80px;}

  .inset .inner                         {border:1px solid #e1e5e8;border-color:#b1b3b7 #e1e5e8 #e1e5e8;border-width:2px 1px 1px;padding:10px;}
  .inset b                              {background-image:url('rounded_corners_sprite.gif');}
  .inset .tl                            {background-position: 0 -93px;}
  .inset .tr                            {background-position: -10px -93px;}
  .inset .bl                            {background-position: 0 -103px;}
  .inset .br                            {background-position: -10px -103px;}

  .rounded .inner                       {padding:10px;text-align:left;}
  .rounded b                            {background-image:url('rounded_corners_sprite.gif');}
  .rounded .tl                          {background-position: 0 -116px;}
  .rounded .tr                          {background-position: -10px -116px;}
  .rounded .bl                          {background-position: 0 -126px;}
  .rounded .br                          {background-position: -10px -126px;}


/* Module Backgrounds */

  .highlight_bevel                      {background:url('/images/highlight_bkgd.gif') repeat-x 0 bottom #fefff1}
  .focus_bevel                          {background:url('/images/focus_bkgd.gif') repeat-x 0 bottom #edf2f8}
  .success_bevel                        {background:url('/images/success_bkgd.gif') repeat-x 0 bottom #eefce7}


/* Module Headers */
  .pagination_hd                        {border-bottom:solid 1px #ddd;padding:5px 0}

/* Module Body */


/* Module Footers */
  .action_ft                            {background:#fbfbfb;border-top:solid 1px #eee;padding:15px 20px;}
  .pagination_ft                        {border-top:solid 1px #ddd;padding:5px 0;margin-top:-1px;}


/* Forms */

  .field                                {clear:both;padding:5px 0 7px 0;overflow:hidden;}
  .field_hd                             {float:left;width:145px;text-align:right;color:#666;}
  .field_bd                             {margin-left:165px;clear:right}
  .field_section                        {float:left;margin-right:5px;color:#999;font-size:10px;}
  .field_note                           {margin-top:5px;font-size:10px;color:#666;clear:both;}
  .field_hint                           {float:right;font-size:10px;color:#666;width:170px;line-height:11px;font-weight:normal}

  .xshort_input                         {width:50px}
  .short_input                          {width:100px}
  .medium_input                         {width:150px}
  .long_input                           {width:200px}
  .xlong_input                          {width:250px}
  .full_width_input                     {width:98%}


/* Lists */

  ol.simple_list li                     {list-style-type: decimal; margin-left:40px;}
  ul.simple_list li                     {list-style-type:disc; margin-left:0px;padding:4px 0}

  .nav_list,
  .horiz_list,
  .right_horiz_list                     {overflow:hidden;text-align:left}

  .nav_list li                          {margin-top:-1px;border-top:solid 1px #ced2e4;padding:3px 5px;zoom:1}
  .nav_list li:hover                    {background-color:#ebeef1}
  .nav_list li a                        {text-decoration:none;}

  .horiz_list li                        {margin-left:-11px;border-left:solid 1px #ccc;padding:0px 10px;margin-right:10px;float:left;}
  .right_horiz_list li                  {margin-right:-11px;border-right:solid 1px #ccc;padding:0px 10px;margin-left:10px;float:left;}

  .checklist li                         {overflow:hidden;padding:0px 0}
  .checklist input                      {float:left;}
  .checklist label                      {margin:0 0 5px 25px;display:block}

  .segmented_list                       {overflow:hidden;}
  .segmented_list li                    {padding:7px 0;border-bottom:solid 1px #eee;margin-bottom:-1px}

  .block_list li                        {padding:3px 0}


/* Pagination */

  .pagination                           {overflow:hidden;zoom:1}
  .pagination li                        {padding:0 3px;margin-right:2px;float:left;font-weight:bold;}



/* Buttons */

  .btn                                  {position:relative;border:0;padding:0;margin:0 2px 0 -2px;cursor:pointer;overflow:visible;background:transparent url('/images/site_sprite.gif') no-repeat right -100px;font-size:11px;font-weight:bold;text-align:center;font-family:Arial}
  .btn span                             {position:relative;display:block;white-space:nowrap;background:transparent url('/images/site_sprite.gif') no-repeat left top;}
  button::-moz-focus-inner              {border:none;}
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .btn span                           {margin-top:-1px;}
  }
  a.btn                                 {display:block;display:-moz-inline-box;display:inline-block;vertical-align:middle}
  a.btn span                            {display:block;margin-top:0px}

/* Button Skins */

  .button {-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow: rgba(0, 0, 0, 0.246094) 0px 1px 3px;-moz-box-shadow: rgba(0, 0, 0, 0.246094) 0px 1px 3px;background-color: #222;border-bottom: 1px solid rgba(0, 0, 0, 0.246094);color: white !important;cursor: pointer;display: inline-block;font-size: 13px;font-weight: bold;line-height: 1;overflow: visible;padding: 5px 15px 6px;position: relative;text-decoration: none !important;width: auto;}

  .super.button {background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAYAAADtlXTHAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABYSURBVHjaZM27EcAgDANQSzZZgP0XpKLh20BM7mjS6J7kwrrWEuScgZQS2HsXjjHEdaqytfZ4kLXWU81lruAK9wqWUuBVvni3n+4Pc9nRnFOUZFQAcQswAI/sUZSGPd0tAAAAAElFTkSuQmCC) repeat-x 0 bottom;background-position:0 bottom;border: 1px solid rgba(0, 0, 0, 0.246094);font-size: 12px;padding: 0px;}
  .super.button span {border-top: 1px solid rgba(255, 255, 255, 0.199219);display: block;line-height: 1;padding: 4px 15px 6px;}

  .green.button {background-color: #91BD09;}
  .green.button:hover {background-color:#749a02}

  .blue.button {background-color:#5689c0}
  .blue.button:hover {background-color:#4a77a8}

  .large.super.button span {padding: 7px 20px 9px;font-size:13px;}
  .xlarge.super.button span {padding: 8px 20px 10px;font-size:16px;}

/* Icons */

  .icn                                  {background:url(/images/icon_sprite.gif) no-repeat 0 0;}




/* Tabs */

  .tab_nav                              {list-style-type:none;overflow:auto;margin-bottom:0px !important;position:relative}
  .tab_nav li                           {float:left;margin-right:2px;cursor:pointer;}
  .tab_nav li a                         {display:block;padding:6px 10px 6px 10px;}

/* Tables */

  .data_table                           {padding:0;width:auto;margin:0}
  .data_table td, .data_table th        {vertical-align:top;padding:1px 0px 2px 0px}
  .data_table th                        {width:115px;color:#777;font-weight:normal;padding-right:6px}

  .data_table.small th                  {width:70px}

  .segmented_table                      {width:100%;}
  .segmented_table td                   {border-bottom:solid 1px #eee;padding:10px 5px}
  .segmented_table .last td             {border:none}

  .skinny_cells td                      {padding:5px}
  .fat_cells td                         {padding:10px 5px}

  .txt_c                                {text-align:center;}
  .txt_l                                {text-align:left;}
  .txt_r                                {text-align:right;}
  .txt_t                                {vertical-align:top;}
  .txt_b                                {vertical-align:bottom;}
  .txt_m                                {vertical-align:middle;}

  .min_cell_width                       {width:1%}
  .max_cell_width                       {width:99%}

  .mrgn_v {margin:10px 0}
  .mrgn_h {margin:0 10px}

/* Media Block */

  .media                                {overflow:hidden;_overflow:visible; zoom:1;}
  .media .img                           {float:left;margin-right: 10px;}
  .media .img img                       {display:block;}
  .media .imgExt                        {float:right; margin-left: 10px;}




/* Home */

.home_banner {background:url('/images/bubbles_bkgd.jpg');-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;padding:50px 25px 0px 25px;height:220px;border-bottom:solid 10px #c2d6eb}
.home_banner h1 {font:normal bold 45px Arial, Helvetica, sans-serif;color:#fff;text-shadow:0 -1px 1px #000;letter-spacing:-2px}
.home_banner h2 {font:normal normal 24px Arial, Helvetica, sans-serif;color:#ccc;text-shadow:0 -1px 1px #000;width:520px;}


.benefit_details {line-height:20px;height:70px;}
.page_form {margin:0 50px}

.tr8n {
	width:auto !important;
	overflow:hidden !important
}

