@mixin shadow($info) {
	text-shadow:$info;
	-moz-text-shadow:$info;
	-webkit-text-shadow:$info;
}

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

  body                        {margin:0;padding:0;font:normal normal 12px Arial, Helvetica, sans-serif;text-align:left;background:#f5f5f5;color:#444;}

  h1,h2,h3,h4,h5,h6           {margin:0 0 5px 0;padding:0;line-height: 1em;}
  h1,.h1                      {font:normal normal 35px Georgia, serif;color:#424c56;letter-spacing:-1px;}
  h2,.h2                      {font: normal normal normal 24px/normal Arial, Helvetica, sans-serif;color:#666;margin:0 0 8px 0;letter-spacing:-1px;}
  h3,.h3                      {font: normal normal bold 18px/normal Arial, Helvetica, sans-serif;color:#555;margin:0 0 8px 0;padding-bottom:5px;}
  h4,.h4                      {font:normal normal 14px Arial, Helvetica, sans-serif;color:#444;padding:6px;}
  h5,.h5                      {font:normal bold 11px Arial, Helvetica, sans-serif;color:#999}
  h6,.h6                      {font:normal bold 11px Arial, Helvetica, sans-serif;color:#444}


  a                           {color:#3B5998;text-decoration: none;outline:none}
  a:focus, a:hover            {text-decoration: underline }
  a:visited                   {color:#3B5998;}

  p                           {margin:0 0 10px 0;}
  table                       {border-collapse:collapse;border-spacing:0}
  table,ul,ol,dt,dl,dd        {padding:0;margin:0;list-style-type:none}
  td,th                       {vertical-align:top}
  img                         {vertical-align:middle;border:none}
  input, select, textarea     {vertical-align:middle;border:solid 1px #eee;border-color:#bbb #eee #eee #bbb;border-width:1px;font:normal normal 11px Arial, Helvetica, sans-serif;color:#444;outline:none;padding:3px;}
  select                      {padding:2px;}
  input[type=checkbox],
  input[type=radio],
  input[type=file],
  checkbox,
  radio                       {border:none;padding:0;}


/* Page Template */

  .page_fixed                 {width:1000px;margin:0 auto;}
  .page_elastic               {width:auto;margin:0;}
  .page_fluid                 {max-width:1100px;min-width:925px;_width:960px;margin:0 auto;padding:0 25px;}

  .page_body,
  .page_body .main_col        {overflow:hidden;_overflow:visible;_zoom:1;}
  .page_body .left_col        {float:left; width:250px;_margin-right:-3px;}
  .page_body .right_col       {float:right; width: 300px;_margin-left:-3px;}


/* Header */

  .page_head  {background:#fff;border-bottom: 1px solid #DDD;border-top: 4px solid #6699cc;margin-bottom: 15px;padding: 5px 15px 2px;}
  .logo a   	{
		font-family:Arial;
		color:#424c56;
		text-decoration:none;
	 	@include shadow(2px 3px 3px 2px rgba(0,0,0,0.6));	
	 }
  .logo a:hover {color:#000}
  .top_nav {padding-top:13px;}

/* Grids */

  .line, .last_unit           {overflow:hidden;_overflow:visible;_zoom:1; }
  .unit                       {float:left;_zoom:1;}
  .size_1of1                  {float:none;}
  .size_1of2                  {width:50%;}
  .size_1of3                  {width:33.33333%;}
  .size_2of3                  {width:66.66666%;}
  .size_1of4                  {width:25%;}
  .size_3of4                  {width:75%;}
  .size_1of5                  {width:20%;}
  .size_2of5                  {width:40%;}
  .size_3of5                  {width:60%;}
  .size_4of5                  {width:80%;}
  .last_unit                  {float:none;_position:relative;_left:-3px;_margin-right:-3px;width:auto;}


/* Page Content */

  .content_module             {margin:0 10px 10px;}
  .content_inner              {
		border:1px solid #D7D7D7;
		border-color:#e9e9e9 #cdcdcd #a4a4a4;
		border-width:1px 1px 2px;
		background:#fff;
	 	@include rounded-corners(10px);	
	}
		


  .content_hd,
  .content_bd,
  .content_ft                 {overflow:hidden;zoom:1;padding:25px}



/* Module */

  .module                     {margin:10px;}
  .hd,.bd,.ft                 {overflow:hidden;_overflow:visible;_zoom:1;}
  .inner                      {position:relative;}


/* Rounded Corners */

  .tl, .tr, .bl, .br          {height:10px; width:10px;position:absolute;}
  .tl                         {background-position: left top;left:0}
  .tr                         {background-position: right top;}
  .bl                         {background-position: left bottom;left:0}
  .br                         {background-position: right bottom;}
  .br,.tr                     {right:0}
  .tr,.tl                     {overflow:hidden;margin-bottom:-32000px;}
  .bl,.br                     {bottom:0}


/* Complex Module  */

  .complex                    {overflow:visible;margin: 10px 20px 20px 10px; background-position:left top;}
  .complex .inner             {right:-10px; bottom:-10px; background-position:right bottom;padding:0 10px 10px 0;}
  .complex .tl, .complex .br  {display:none;}
  .complex .bl                {bottom:-10px;}
  .complex .tr                {right:-10px;}


/* Media Block */

  .media                      {overflow:auto;zoom:1}
  .media .thumb               {width:100px;float:left;}
  .media .desc                {margin-left:110px;}


/* Clear Floats */
  .clearfix:after             {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
  .clearfix                   {display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix            {height: 1%;}
  .clearfix                   {display:block;}
  /* close commented backslash hack */