<%
  links = []
  current_tab ||= ""
  [ 
    ["Languages", {:action => :languages}],
    ["Translators", {:action => :translators}],
		["Top Translators", {:action => :index}],
    ["Charts", {:action => :charts}],
	].each do |link|
      if controller.action_name == link.last[:action].to_s
        current_tab = link.first if current_tab.blank?
        links << link.first
      else
        links << link_to(link.first, link.last)
      end 
   end   
%>

<div class="section_title">
  <span style="font-size:12px; float:right; padding-top:5px;">
    <%=links.join(" | ").html_safe%>
  </span>
  <%=current_tab %>
</div>

