<% @sources.each do |source| %>
    <div style="width:450px;  background-color:#efefef; float:left; padding:5px; border-radius:10px; margin:5px;">
        <div style="padding:5px;">
            <div style="float:right">
                <%
                  html = []
                  html << link_to("Recalculate", {:action => :recalculate_source, :source_id => source.translation_source.id}, {:confirm => "Are you sure you want to recaluclate this source?"})
                  html << link_to_function("Update", "tr8nLightbox.show('/tr8n/admin/applications/lb_update_source?source_id=#{source.translation_source.id}', {height:350})")
                  html << link_to("Remove", {:action => :remove_sources_from_component, :component_source_id => source.id}, {:confirm => "Are you sure you want to remove this source from the component?"})
                %>
                <%= html.join(' | ') %>
            </div>
            <div style="font-weight:bold;"><%=link_to(source.translation_source.title, :action => :source, :source_id => source.translation_source.id)%></div>
        </div>
        <%=render :partial => "/tr8n/dashboard/translation_source_metric", :locals => {:translation_source => source.translation_source, :translation_source_metric => source.translation_source.total_metric} %>
    </div>
<% end %>