<% form_tag("", :id => "keys_form") do %>
  <%= will_filter_table_tag(@results, :columns => [
    [:checkbox, :keys],
    [:id, lambda{|key|
      link_to(key.id, :controller => "/tr8n/admin/translation_key", :action => :view, :key_id => key.id) 
    }],
    [:label, lambda{|key|
      html = key.label
      html << '<div style="color:grey; font-size:10px; padding-top:3px;">'
      html << key.description.to_s  
      html << '</div>'  
    }],
    [:translation_count, lambda{|key| link_to(key.translation_count || 0, :controller => "/tr8n/admin/translation_key", :action => :view, :key_id => key.id, :mode => :translations)}, 'padding:5px;text-align:right;'],
    [:created_at, lambda{|key| key.created_at}, 'padding:5px;text-align:right;'],
    [:actions, lambda{|key|
      html = []
      html << link_to_function("Update", "tr8nLightbox.show('/tr8n/admin/translation_key/lb_update?key_id=#{key.id}', {height:450})")
      html << link_to("Delete", {:controller => "/tr8n/admin/translation_key", :action => :delete, :key_id => key.id}, {:confirm => "Are you sure you want to delete this key?"})
      html.join(' | ')
    }, 'padding:5px;text-align:right;white-space:nowrap;']
  ]) %>
<% end %>

<%= will_filter_actions_bar_tag(@results, [
  ['Remove From Source', 'deleteSelectedKeys()'],
  ['Merge Selected Keys', 'mergeSelectedKeys()'],
  ['Delete Selected Keys', 'deleteSelectedKeys()']
]) %>

<script>
  function deleteSelectedKeys() {
    if (!confirm('Make sure the keys are removed from the actual source code. Otherwise they will reappear here again. Are you sure you want to remove selected keys from this source?'))
       return;
    Tr8n.element('keys_form').action = "/tr8n/admin/applications/remove_keys_from_source?source_id=<%=@source.id%>";
    Tr8n.element('keys_form').submit();
  }

  function mergeSelectedKeys() {
    var i=0;
    var checkbox = Tr8n.element('wf_check_' + i);
    var keys = [];
    while (checkbox) {
      if (checkbox.checked) {
        keys.push(checkbox.value);
      }
      checkbox = Tr8n.element('wf_check_' + (++i));
    }
    if (keys.length < 2) {
      alert('At least two keys must be selected.');
      return;
    }
    tr8nLightbox.show('/tr8n/admin/translation_key/lb_merge?keys=' + keys, {height:350});
  }

  function deleteSelectedKeys() {
    if (!confirm('Are you sure you want to delete all selected keys?'))
       return;
    Tr8n.element('keys_form').action = "/tr8n/admin/translation_key/delete";
    Tr8n.element('keys_form').submit();
  }  
</script>