<div style="margin:10px; background:white; padding:5px; border:solid 1px #bababa; border-color: #bababa #e8e8e8 #e8e8e8 #bababa;">
  <div style="overflow:hidden;_overflow:visible; zoom:1;">
    <%= image_tag "/tr8n/images/rotating_world.gif", :style => "float:left;margin-right:10px;" %>
    <div style="overflow:hidden">
      <div style="color:#444;font-weight:bold;font-size:12px;"><%= trl('Please wait.','Loading text for translations panel') %></div>
      <div style="font-size:11px"><%= trl('loading...','Loading text for translations panel') %></div>
    </div>
  </div>
</div>