<div class="tr8n_splash_screen">
  <div style="overflow:hidden;_overflow:visible; zoom:1;">
    <%= image_tag "tr8n/rotating_world.gif", :style => "float:left;margin-right:10px;" %>
    <div style="overflow:hidden">
      <div style="color:#444;font-weight:bold;font-size:12px;"><%= tra('Please wait.') %></div>
      <div style="font-size:11px"><%= tra('Loading...') %></div>
    </div>
  </div>
</div>