<div style='font-size:18px; text-align:center; margin:5px; padding:10px; background-color:black;'>
	<%=image_tag("/tr8n/images/tr8n_logo.jpg", :style => "width:280px; vertical-align:middle;")%>
	<%=image_tag("/tr8n/images/loading3.gif", :style => "width:200px;  height:20px; vertical-align:middle;")%>
</div>
