<title><%=trl("Tr8n Engine Plugin", "Application title")%></title>
<%= stylesheet_link_tag("/tr8n/stylesheets/layout.css") %>
<%= stylesheet_link_tag("/tr8n/stylesheets/components.css") %>

<%= tr8n_scripts_tag %>