<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%=render :partial => "/layouts/html_head" %>
		<style>
			.page_fixed {
				width:1200px;
			}
			.page_body {
				width:1200px;
			}
			 
			.wf_form {
				width: 99.8%;
			} 
		</style>
  </head>
  <body>
    <div class="document">
      <%=render :partial => "/layouts/header" %>
      <div class="page_fixed">
        <div class="page_body">
          <div class="content_module">
            <div class="content_inner">
              <%= yield %>
            </div>
          </div>
        </div>
        <%=render :partial =>"/layouts/footer" %>
      </div>
    </div>
  </body>
</html>
