<div style="padding:20px;">
	<%=tr("English is the default language here")%>
	<br><br>
  <%= tr8n_with_options_tag(:default_locale => 'ru') do %>
	  <%=tr("Русский язык основной язык здесь")%>
	<% end %>	
</div>