<div style="padding:20px;">
	<%=tr("English is the default language here")%>
	<br><br>
	<% Tr8n::Config.with_options(:default_locale => 'ru') do %>
	  <%=tr("Русский язык основной язык здесь")%>
	<% end %>	
</div>